{% extends "cooking/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pampuch & Pyza</title>
</head>
<body>

{% block content %}
    <style>
    table,th,td {
        border: 1px solid black;
        margin-inside: 13px;
    }
    </style>
    <section id="section_test">
    <form>
     <label for="selector">Wybierz produkty do kalkulatora</label><br>
    <div id='div_test' style="margin-left: 30px;">
    <select id="selector">
    {% for i in ingredients %}
        <option id="option_{{ i.id }}">{{ i.name }}</option>
    {% endfor %}
    <input type="number" step="0.01">
    </select><br>
    </div>
    </form>
    </section>
       <button id="button_add">Dodaj</button><button id="check">Sprawdź</button>

    <table id="table"  style="margin-top: 50px; margin-left: 15px" width="50%">
        <tr>
            <th>Nazwa</th>
            <th>Kalorie</th>
            <th>Tłuszcz</th>
            <th>Węglowodany</th>
            <th>Błonnik</th>
            <th>Białko</th>
            <th>Sól</th>
            <th>Cukier</th>
        </tr>
    <tbody id="products">

    </tbody>
    </table>

{% endblock %}
</body>
</html>