{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <meta charset="UTF-8">
    <title>Pampuch & Pyza</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<header>

    <div style="text-align: center;"><img src="{% static 'images/logo.png' %}" width="15%" height="15%" alt="logo">
    </div>
    <nav>
        <div>

        <ul class="nav justify-content-center">
        {% if request.user.is_superuser == False %}
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link active" href="/"><u>Home</u></a>
            </li>
            <li class="nav-item" hidden>
                <a style="color: #ffffff" class="nav-link" href="/add_r/">Dodaj przepis</a>
            </li>
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link" href="/menu/">Moje Menu</a>
            </li>
             <li class="nav-item" hidden>
                <a style="color: #ffffff" class="nav-link" href="/add_i/">Baza składników</a>
            </li>
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link" href="/shoopinglist/" tabindex="-1"
                   aria-disabled="true">Moje listy zakupów</a>
            </li>
            {% elif request.user.is_superuser == True  %}
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link active" href="/"><u>Home</u></a>
            </li>
            <li class="nav-item" >
                <a style="color: #ffffff" class="nav-link" href="/add_r/">Dodaj przepis</a>
            </li>
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link" href="/menu/">Moje Menu</a>
            </li>
             <li class="nav-item">
                <a style="color: #ffffff" class="nav-link" href="/add_i/">Baza składników</a>
            </li>
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link" href="/shoopinglist/" tabindex="-1"
                   aria-disabled="true">Moje listy zakupów</a>
            </li>
            <li class="nav-item">
                <a style="color: #ffffff" class="nav-link" href="/calories/" tabindex="-1"
                   aria-disabled="true">Kalkulator kalorii</a>
            </li>
        {% endif %}
            {% if request.user.id == None %}
                <li class="nav-item">
                    <a style="color: #ffffff" class="nav-link" href="{% url 'login' %}" tabindex="-1"
                       aria-disabled="true"><b>Zaloguj się</b></a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a style="color: #ffffff" class="nav-link" href="{% url 'logout' %}" tabindex="-1"
                       aria-disabled="true"><b>Wyloguj {{ request.user }}</b></a>
                </li>
            {% endif %}
        </ul>

            </div>

    </nav>
</header>
</header>

<style>
    body {
        background-color: #ffffff;
        font-family: cursive;
        font-size: 20px;

    }

    nav {
        background-color: #0d7377;
        flex-wrap: nowrap;

    }
    table{
        margin-top: 30px;
        font-size: 20px;
        caption-side: bottom;
        text-align: left;
        align-content: flex-start;
    }


</style>
    <div style="flex-wrap: nowrap; margin-top: 20px">
    {% block content %}




    {% endblock %}

    </div>

    <div class="table">
        {% block table %}

    {% endblock %}

    </div>
    <script src="{% static '/js/script.js' %}"></script>

</body>
</html>