{% extends "cooking/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Recipe</title>
</head>
<body>
{% block table %}
    <h1 style="text-align: center">Twoje menu na ten tydzień: <b>{{ menu_p.0.menu.name }}'s Plan</b></h1>
     <table class="table table-hover" style="margin-left: 40px">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Śniadanie</th>
            <th scope="col">Drugie śniadanie</th>
            <th scope="col">Lunch</th>
            <th scope="col">Obiad</th>
            <th scope="col">Kolacja</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Poniedziałek</th>
                 {% for p in menu_p %}
                <td><a style="color: black" href="/recipe/{{ p.recipe_id }}/">{{ p.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
           <tr>
                <th scope="row">Wtorek</th>
                 {% for w in menu_w %}
                <td><a style="color: black" href="/recipe/{{ w.recipe_id }}/">{{ w.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
          <tr>
                <th scope="row">Środa</th>
                 {% for s in menu_s %}
                <td><a style="color: black" href="/recipe/{{ s.recipe_id }}/">{{ s.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
            <tr>
                <th scope="row">Czwartek</th>
                 {% for c in menu_c %}
                <td><a style="color: black" href="/recipe/{{ c.recipe_id }}/">{{ c.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
            <tr>
                <th scope="row">Piątek</th>
                 {% for pt in menu_pt %}
                <td><a style="color: black" href="/recipe/{{ pt.recipe_id }}/">{{ pt.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
          <tr>
                <th scope="row">Sobota</th>
                 {% for so in menu_so %}
                <td><a style="color: black" href="/recipe/{{ so.recipe_id }}/">{{ so.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
           <tr>
                <th scope="row">Niedziela</th>
                 {% for n in menu_n %}
                <td><a style="color: black" href="/recipe/{{ n.recipe_id }}/">{{ n.recipe.title }}</a></td>
                  {% endfor %}
            </tr>
        </tbody>
    </table>
    <a style="margin-left: 20px" href="/basket/{{ pk }}/"><button class="btn btn-info">Pokaż listę zakupów</button></a>

{% endblock %}
</body>
</html>

