{% extends "cooking/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Recipe</title>

</head>
<body>
{% block content %}
    <div class="mb-3">
    <form class="container" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">Dodaj</button>
    </form>
    </div>
    <div style="margin-left: 30px;">
        <h3 style="margin-top: 30px">Wszystkie przepisy</h3>
        <div style="align-content: center; margin-top: 20px">
            {% for r in recipe %}

                <ul style="margin-top: 30px">
                    <li><u><a href="/detail_r/{{ r.id }}"> {{ r.title }}</a></u></li>
                </ul>

            {% endfor %}
        </div>
    </div>
{% endblock %}

</body>
</html>

